@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* 
vairables 
*/

:root {
  /* colors */
  /* Primary */
  --cl-red: hsl(0, 100%, 74%);
  --cl-Green: hsl(154, 59%, 51%);
  /* Accent */
  --cl-Blue: hsl(248, 32%, 49%);
  /* Neutral */
  --cl-DarkBlue: hsl(249, 10%, 26%);
  --cl-GrayishBlue: hsl(246, 25%, 77%);
}

/* 
global style 
*/

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background: url(../images/bg-intro-mobile.png);
  background-color: var(--cl-red);
}
button,
a {
  cursor: pointer;
}

/* 
actual css 
*/
* {
  margin: 0;
  padding: 0;
}
.header {
  font-size: 1.7rem;
  font-weight: 600;
}
.text {
  opacity: 0.9;
}
.form-card {
  box-shadow: 0px 8px 0px hsla(0, 0%, 0%, 0.157);
}
input::placeholder {
  font-weight: 700;
  color: var(--cl-DarkBlue);
  padding-left: 1rem;
}
.card-info {
  background: var(--cl-Blue);
  padding: 1.2rem 5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 8px 0px hsla(0, 0%, 0%, 0.237);
}
.card-text {
  font-weight: 300;
  letter-spacing: 0.03rem;
  font-size: 0.9rem;
  line-height: 1.8;
}
.card-spec {
  font-weight: 600;
}
.submit-btn {
  background-color: var(--cl-Green);
  border: none;
  border-bottom: 5px solid hsla(154, 59%, 43%, 0.801);
  letter-spacing: 2px;
  font-weight: 500;
}
.term-text {
  color: var(--cl-GrayishBlue);
  font-size: 0.75rem;
}
.term-spec {
  font-weight: 700;
  opacity: 0.8;
  color: var(--cl-red);
}
/* 
error content 
*/
.invalid-input {
  border-color: red;
  color: red;
}
.invalid {
  display: none;
  margin-top: 0.5rem;
  margin-bottom: -0.2rem;
  text-align: right;
  font-size: 0.7rem;
  font-weight: 500;
}
.error-img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-75%, 75%);
}
.error {
  display: block;
}

/* 
footer
 */
.attribution {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  background: white;
  padding: 0 1rem;
  text-align: center;
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.attribution a {
  text-decoration: none;
  font-weight: 700;
  color: hsl(228, 45%, 44%);
}

/* 
media queries 
*/

@media (min-width: 976px) {
  body {
    background: url(../images/bg-intro-desktop.png) center/cover;
    background-color: var(--cl-red);
  }
  .header {
    font-size: 3rem;
    line-height: 1;
  }
  .attribution {
    height: 1.5rem;
  }
}
